@import url('./vendor/normalize.css');
/*body*/
@import url('./blocks/container/container.css');
/*header*/
@import url('./blocks/header/header.css');
@import url('./blocks/btn/btn__start.css');
/*game*/
@import url('./blocks/game/game.css');
/*footer*/
@import url('./blocks/footer/footer.css');
/*result*/
@import url('./blocks/result/result.css');
:root {
  --bg-main: #9fded0;
  --bg-game: #e1ceb4;
  --cell-wrapper: #9de2ee;
  --cell: #c3f3c7;
  --matte-black: #1c1c1c;
}
body{
  background: var(--bg-main);
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}