.result{

}

.result__table{
  list-style-type: none;
  min-width: 300px;
  min-height: 510px;
  border-radius: 12px;
  margin: 0;
  padding: 10px;
  background-color: var(--bg-game)
}

.result__title{
  color: #9C69E2;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;

}

.result__item{
  display: flex;
  border-bottom: 1px solid #ffffff;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .result__table{
    min-height: 350px;
    min-width: 250px;
  }
  .result__title{
    font-size: 20px;
  }
  .result__item{
    font-size: 18px;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .result__table{
    margin-top: 20px;
    min-height: 200px;
    min-width: 310px;
  }
  .result__title{
    font-size: 20px;
  }
  .result__item{
    font-size: 16px;
  }
}
@media screen and (max-width: 425px)  {
  .result__table{
    margin-top: 20px;
    min-height: 200px;
    min-width: 235px;
  }
  .result__title{
    font-size: 20px;
  }
  .result__item{
    font-size: 16px;
  }
}

